:root{
  --header-h: 7vw;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
body{
   height: 100vh;
   color: white;
   background: black;
}
#hero-video{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
  opacity: 0.6;
}
header{
  z-index: 10;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5.2%;
  font-size: 2rem;
  background: rgba(45, 80, 85, 0.6);
  backdrop-filter: blur(5px);
}
.logo{
  color: white;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.5rem;
  cursor: default;
}
nav{
  display: flex;
  padding-right: 1rem;
  gap: 4rem;
}
nav a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}
.menu-toggle {
  display: none; /* hide on desktop */
  background: transparent;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 20;
}
.ct{
  font-weight: 600;
  border-radius: 2rem;
  width: 12vw;
  cursor: pointer;
  background: white;
  border: solid 2px white;
  color: rgba(0,0,0,0.8);
  transition: all ease-in-out 0.3s;
}
.ct:hover{
  background: rgba(0,0,0,0.2);
  color: white;
  border: solid 2px white;
  transition: all ease-in-out 0.3s;
}
:is(.pj, .srv):hover{
  cursor: pointer;
  color: rgb(20, 152, 159);
}
#home{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 5rem;
  padding-top: var(--header-h);
  background: rgba(0,0,0,0.5);
}
.profile{
  width: 24vw;
  height: 100%;
  background: linear-gradient(to top, rgba(13, 102, 106, 1), rgba(13, 102, 106, 0));
  border-radius: 100%;
}
.profile-pic{
  z-index: 1;
  padding-left: 3px;
  width: 100%;
  border-radius: 100%;
  filter: contrast(105%) brightness(80%);
}
.home-content{
  display: flex;
  padding: 5rem;
  padding-left: 5.5rem;
  padding-bottom: 4rem;
  flex-direction: column;
  h2{
    font-size: 2.5rem;
    text-shadow: 0px 0px 15px rgba(0,0,0,1);
    padding-top: 1rem;
    color: rgba(256,256,256,1);
    letter-spacing: 1px;
    cursor: default;
  }
  h3{
    font-size: 3.5rem;
    text-shadow: 0px 0px 15px rgba(0,0,0,1);
    padding-top: 1rem;
    letter-spacing: 1px;
    color: white;
    cursor: default;
  }
  p{
    color: white;
    width: 38vw;
    font-size: 1.1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: justify;
    letter-spacing: 0.6px;
    cursor: default;
    text-shadow: 0px 0px 15px rgba(0,0,0,1);
  }
}
.butc{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  border: solid 2px rgba(13, 102, 106, 1);
  height: 5vh;
  background: rgb(13, 102, 106);
  color: white;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.2rem;
  transition: all ease 0.3s;
}
.butc:hover{
  cursor: pointer;
  border: solid 2px rgba(13, 102, 106, 1);
  box-shadow: 1px 1px 20px rgba(13, 102, 106, 1);
}
.image{
  padding-top:2rem;
  display: flex;
  justify-content: space-around;
}
#fb, #ig, #x, #ld{
  height: 2.5vw;
  width: 2.5vw;
  transition: all ease-in-out 0.3s;
}
:is(#fb, #ig, #x, #ld):hover{
  transform: scale(1.2);
  transition: all ease-in-out 0.3s;
}
.skills{
  height: 100vh;
  padding-top: var(--header-h);
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgba(0,0,0,0.5);
}
.skills-h{
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 3px;
  width: 100%;
  height: 8vh;
}
.skills-card{
  height: 80%;
  border-radius: 1.2rem;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, minmax(200px, 30%));
}
.card{
  background: rgba(13, 102, 106, 0.8);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
  border: outset rgba(20, 152, 159, 0.5) 0.5rem; 
  border-radius: 1.2rem;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  img{
    width: 8vw;
    padding: 2%;
    border: solid;
    border-radius: 10%;
    background: white;
  }
}
.container{
  width: 50%;
  h4{
    letter-spacing: 1px;
    padding-bottom: 5%;
  }
}
.projects{
  height: 100vh;
  padding-top: var(--header-h);
  padding-left: 5rem;
  padding-right: 5rem;
  background: rgba(0,0,0,0.5);
}
.proj-h{
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 3px;
  width: 100%;
  height: 8vh;
}
.proj-con{
  display: grid;
  gap: 2rem;
  grid-template-columns: 32% 32% 32%;
  justify-content: center;
  padding: 2%;
  height: 85%;
}
.proj-card{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 2%;
  background: rgba(13, 102, 106, 0.8);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
  border: solid rgba(20, 152, 159, 0.5) 0.5rem; 
  border-radius: 1.2rem;
  h4{
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  p{
    text-align: justify;  
    font-size: 1rem;
    padding-left: 5%;
    padding-right: 5%;
  }
}
.weather-pic{
  border-radius: 5%;
  height: 25vh;
  width: 100%;
}
.movie-pic, .portfolio-pic{
  border-radius: 5%;
  width: 100%;
}
.contact{
  height: 95vh;
  padding-top: var(--header-h);
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0,0,0,0.5);
}
.contact-con{
  display: flex;
  justify-content: space-around;
  background: rgba(256,256,256,0.9);
  border: solid rgba(8, 65, 68, 0.5) 0.5rem; 
  border-radius: 2rem;
  color: black;
  padding-left: 1%;
  padding-right: 3%;
  padding-top: 2%;
  height: 98%;
}
.contact-img{
  height: 70vh;
  width: 40vw;
}
.contact-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /*border: solid;*/
  height: 95%;
  width: 50%;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70%;
  width: 60%;
  padding-top: 5%;
  background: rgba(256, 256, 256, 0.9);
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.5);
}
input{
  height: 5vh;
  width: 80%;
  border-bottom: solid 3px rgb(0, 0, 0);
  background: transparent;
}
input::placeholder{
  text-align: center;
  color: black;
  font-size: 1rem;
}
input:focus{
  font-size: 1rem;
  text-align: center;
}
input:focus::placeholder{
  color: transparent;
}
.send{
  width: 80%;
  height: 6vh;
  background: rgb(51, 119, 255);
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.1rem ;
  border-radius: 1rem;
  transition: all ease-in-out 0.3s;
}
.send:hover{
  transform: translateY(-5px);
  transition: all ease-in-out 0.3s;
}
.con-h{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 0.5rem;
  width: 42%;
  height: 12%;
  color: rgb(13, 102, 106);
  border-bottom: dashed 0.3rem rgb(13, 102, 106);
}
footer{
  color: rgba(256,256,256,1);
  bottom: 0;
  font-size: 0.8rem;
  width: 100%;
  padding: 0.4%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.2); 
}